<% include header %>

<div id="content">
    <canvas id="paper" width="1024" height="768"></canvas>
    <div id="panel">
        <h3>Score</h3>
        <ul id="playerList"></ul>
    </div>
</div>

<% include footer %>
